* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

#container {
    width: 960px;
    margin: auto;
}

.text-content {
    text-align: center;
    width: 480px;
    margin: 80px auto;
    border: 5px solid;
    border-color: brown;
    padding: 30px;
}

h1 {
    font-family: 'Merriweather', serif;
    margin-bottom: 46px;
    line-height: 46px;
    font-weight: 800;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-transform: capitalize;
    color: lightgray;
    margin-bottom: 23px;
    letter-spacing: 5px;
    line-height: 40px;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
}